MONGODB_URI="mongodb+srv://<username >:<password>@cluster0.example.mongodb.net/flights?retryWrites=true&w=majority"
appName=flight-booking
ACCESS_TOKEN_SECRET=access_token
ACCESS_TOKEN_EXPIRES_IN=1h
REFRESH_TOKEN_SECRET=refresh_token
REFRESH_TOKEN_EXPIRES_IN=1d
PORT=3000
AVIATION_STACK_TOKEN=token_value
